
title {
	font-family: Calibri, sans-serif;
	font-weight: bolder;
	font-size: 32px;
}
h1 {
    background-color: #cc3366;
    color: #4d79ff;
    font-size: 48px;
    font-family: calibri;
    text-align: center;
    padding: 20px;
    margin: 0;
}

h1 {
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}

h2 {
    background-color: #cc3366;
    color: #4d79ff;
    font-size: 48px;
    font-family: calibri;
    text-align: center;
    padding: 20px;
    margin: 0;
}
h2{
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
h3 {
	font-family: Calibri, sans-serif;
	font-weight: bolder;
	font-size: 30px;
}


body {
  	background-color: white;
  	display: -webkit-flex;
    display: flex;
}

p {
  	color: darkslategray;
  	font-family: Calibri, sans-serif;
  	font-size: 28px
}

ul {
	color:darkcyan;
	font-family: Calibri, sans-serif;
	font-size: 28px;
}

.image {
  display: block;
  margin: 0 auto;
  width: 40%;
}

.container {
 	background: silver;
 	width: 70%;
 	max-width: 1000px;
 	margin: 0 auto
}


/*zoom photo box code from: /https://codepen.io/oknoblich/pen/ELfzd -->

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #e5e5e5;
}

.gallery {
  width: 640px;
  margin: 0 auto;
  padding: 5px;
  background: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.gallery > div {
  position: relative;
  float: left;
  padding: 5px;
}

.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */
}

.gallery > div:hover {
  z-index: 1;
}

.gallery > div:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}

.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}
